{% extends "base.html" %}

{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Tasks</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_task') }}" class="btn-large orange accent-2">
            Add Task <i class="fa-solid fa-plus"></i>
        </a>
    </div>
</div>


<div class="row">
    <!--Collapsible-->

    <div class="col s12 center-align">
        <ul class="collapsible">
            {% for task in tasks %}
            <li>
                <div class="collapsible-header">{{task.task_name}} : {{task.due_date.strftime("%d , %B , %Y")}}
                    {% if task.is_urgent == True %}
                    <i class="fas fa-exclamation-circle"></i>
                    {% endif %}
                </div>
                <div class="collapsible-body"> {{ task.category}} <p>{{task.task_description}}</p></div>
            </li>
            {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}